body {
    margin: 0;
    padding: 0;

}

.container {
    margin-top: 40px;
    background-color: aliceblue;
    border-radius: 5px;
    padding-bottom: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-bill {
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 149, 255);
    color: #fff;
    padding: 10px;
    margin: 0;
}

.add-to-bill:hover {
    cursor: pointer; 
    background-color: rgb(0, 127, 217);
}

.delete-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.delete-btn:hover {
    background-color: #c82333;
} 

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}